@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.logo{
  height: 5.25rem !important;
}
.bg-purple-700{
  background-color: #c72727;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (min-width: 1024px){

  .lg\:text-purple-700 {
    color: #c72727 !important;
  }
  .lg\:hover\:text-purple-700:hover {
    --tw-text-opacity: 1;
    color: #e5d347 !important;
    
}
}
.live{
  width: 30%;

}
.header-btn{
  width: 162px;
  margin-right: 21px;
}
.img-slide{
  width: 100%;
}
.twiter{
  margin: 5% 0%;
}
.img-twiter{
  height: 526px;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 3%;
  
}
.img-twiter-hover:hover {
  opacity: 0.5;
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(5, 5, 5);
  color: white;
  text-align: center;
  padding: 2%;
}
.pub1-home{
  background-color: #e30613;
  color: white;
  font-size: 30px;
  padding: 2% 0%;
}
.news{
  background-color: #e5e5e5;
}
.news-img{
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 85%;
}

.news h2 {
    font-size: 30px;
    font-weight: 600;
}
.podcast h2 {
  font-size: 30px;
  font-weight: 600;
}
.news h3{
  margin-top: 4px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 0px;
}
.news h4{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 300;
  font-size: 15px;
}
.img-plus{
  display: initial;
}
.podcast-img{
  border-radius: 3%;
}
@media (min-width: 1536px) {
  .container {
    max-width: 1292px;
  }
}